<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <param name="Encoding" value="UTF-8"/>

        <!--    should be an env variable in production    -->
        <remoteHost>localhost</remoteHost>

        <!--    should be an env variable in production    -->
        <port>5000</port>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_name":"YourApp", "app_port": "YourPort"}</customFields>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="logstash"/>
    </root>

</configuration>
